html { 
    background-image: linear-gradient(#161A30, #31304D);
    color: #f0ece5;
}

header{ 
    width: 100%;
    height: 75px;
    position:relative;
    border: 3px solid #B6BBC4; 
}

nav { 
    display: inline-block;
    position: relative;
}

nav > img { 
    position: absolute;
}
#links { 
    display: inline-block; 
    position: absolute;
    width: 500px;
    height: 75px;
}

#links > a { 
    position: absolute;
    color: #f0ece5;
    padding: 25px;
}

#logo { 
    height: 75px;
    width: 75px;
}